
* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
}



/* mobile responsive design starts here  */

header {
    background-image: url('../images/bg-hero-desktop.svg');
    background-color: #b1e9d6;
    height: 180vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
}

header > .top-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

header > .top-header > .logo  img {
   
    padding: 20px;
    width: 60%;
    margin: 0px;
}

.button > .btn {
    /* display: flex; */
    width: 100%;
    height: 40px;
    background: white;
    /* padding: 10px; */
    border-radius: 40px;
    border: 0px;
    margin: 0px;
    font-size: 16px;
}
.button  {
    display: flex;
    width: 30%;
    height: 40px;
    background: white;
    /* padding: 10px; */
    border-radius: 40px;
    border: 0px;
    margin: 0px;
}

.button .btn:hover  {
    /* display: flex; */
    background: rgb(240, 234, 234);
    border: 0px;
}


.welcome {
    display: flex;
    flex-direction: column;
    padding: 60px;
    justify-content: space-around;
    align-items: center;
}


.welcome > .screen-img > img {
    justify-self: center;
    width: 100%;
    height: 90%;;
}

.welcome > .info > h2 {
    display: flex;
    justify-self: center;
    font-size: 30px;
    font-weight: bold;
}

.welcome > .info h5 {
    font-size: 18px;
    line-height: 1.4;
}
.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.welcome > .info button {
    width: 100%;
    height: 60px;
    background: pink;
    /* padding: 10px; */
    border-radius: 40px;
    border: 0px;
    margin: 0px;
    font-size: 25px;
    color: white;
    font-weight: bold;
}
.welcome > .info button:hover {
    width: 100%;
    height: 60px;
    background:  rgb(202, 180, 184);
    /* padding: 10px; */
    border-radius: 40px;
    border: 0px;
    margin: 0px;
    font-size: 25px;
    color: black;
}
.welcome > .screen-img {
    margin-top: 30px;

}

main {
    display: flex;
    flex-direction: column;
    padding: 40px;
    margin-top: 40px;
    /* grid-template-columns:  1fr;
    grid-template-rows: repeat(3, 1fr); */
    z-index: -1;
}

.how-it-works {
    display: flex;
    flex-direction: column;
    padding: 40px;
    /* border: 1px solid green; */
    justify-content: center;
    align-items: center;
    box-shadow: 2px 4px 12px 2px #DCDCDC;
    margin: 20px 5px;
    border-radius: 20px;

}

.how-it-works > .sub-info1-img img {
    /* justify-self: flex-end; */
    width: 100%;
    height: 100%;
    padding: 20px;
    /* margin: 15px 15px 15px 100px; */
}

footer {
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: #111116; */
    /* z-index: -1; */

}
.community {
    position: relative;
    /* left: 27%;
    bottom: -1700px; */
    left: 0%;
    bottom: -200px;
    box-shadow: 2px 1px 12px  #DCDCDC;
    /* margin: 20px 50px; */
    margin: 0 40px;
    border-radius: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 80px;
    justify-content: center;
    align-items: center;  
}

.community > button {
    width: 350px;
    height: 70px;
    padding: 20;
    font-size: 20px;
    font-weight: bold;
    border-radius: 40px;
    background-color: pink;
    border: 0px;
    margin-top: 5px;
    color: white;
}

.community > button:hover {
    background-color: rgb(202, 180, 184);
    color: black;
    cursor: pointer;
}
.community > p {
    font-size: 25px;
    font-weight: bold;
}

.footer-details {
    display: flex;
    flex-direction: column;
    background-color: #04040f;
    align-items: space-around;
    padding: 300px 100px 20px 100px;
    color: white;

}
.footer-details .menu{
    display: flex;
    flex-direction: column;
}

.footer-details .menu a {
    text-decoration: none;
    line-height: 1.6;
    cursor: pointer;

}


/* mobile responsive design ends here  */




@media (min-width: 1200px)  { 

    .info > button{
        display: none;
    }
    
    
    



header {
    background-image: url('../images/bg-hero-desktop.svg');
    background-color: #b1e9d6;
    height: 120vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
}

header > .top-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px;
}



.button  {
    display: flex;
    width: 220px;
    height: 50px;
    background: white;
    /* padding: 10px; */
    border-radius: 40px;
    border: 0px;
}

.button:hover  {
    display: flex;
    background: grey;
    border: 0px;
}

.button  > .btn  {
    width: 220px;
    height: 50px;
    border-radius: 40px;
    border: 0px;
    font-weight: bold;
    /* box-shadow: ; */
}

.welcome {
    display: flex;
    flex-direction: row;
    padding: 100px;
    justify-content: space-around;
}


.welcome > .screen-img > img {
    justify-self: flex-end;
    max-width: 100%;
    height: auto;
}

.welcome > .info > h2 {
    display: flex;
    font-size: 60px;
    font-weight: bold;
}


.welcome > .info > h5 {
    display: flex;
    font-size: 18px;
    line-height: 1.6;
    /* font-weight: bold; */
}

main {
    display: flex;
    flex-direction: column;
    padding: 40px;
    margin-top: 40px;
    /* grid-template-columns:  1fr;
    grid-template-rows: repeat(3, 1fr); */
    z-index: -1;
}

.how-it-works {
    display: flex;
    flex-direction: row;
    padding: 40px;
    /* border: 1px solid green; */
    justify-content: center;
    align-items: center;
    padding: 25px;
    box-shadow: 2px 4px 12px 2px #DCDCDC;
    margin: 20px 50px;
    border-radius: 20px;

}

.how-it-works > .sub-info1-img img {
    /* justify-self: flex-end; */
    width: 60%;
    height: 60%;
    padding: 20px;
    margin: 15px 15px 15px 100px;
}

h4 {
    font-size: 30px;
    font-weight: bold;
}

p {
    font-size: 18px;
    line-height: 1.3;
}

.how-it-works > .sub-info1 {
    margin: 0 60px
}

footer {
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: #111116; */
    /* z-index: -1; */

}
.community {
    position: relative;
    /* left: 27%;
    bottom: -1700px; */
    left: 0%;
    bottom: -200px;
    box-shadow: 2px 1px 12px  #DCDCDC;
    /* margin: 20px 50px; */
    margin: 0 300px;
    border-radius: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 100px 250px; */
    /* z-index: -1000; */
    /* z-index: 3; */

}
.community > button {
    width: 350px;
    height: 70px;
    padding: 20;
    font-size: 20px;
    font-weight: bold;
    border-radius: 40px;
    background-color: pink;
    border: 0px;
    margin-top: 5px;
    color: white;
}

.community > button:hover {
    background-color: rgb(202, 180, 184);
    color: black;
    cursor: pointer;
}
.community > p {
    font-size: 35px;
    font-weight: bold;
}

.footer-details {
    display: flex;
    flex-direction: row;
    background-color: #04040f;
    /* z-index: -1; */
    /* margin: 50px 30px 20px 30px; */
    padding: 300px 100px 20px 100px;
    color: white;

}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 30px;
    margin: 0px 80px;
    
}

.menu a {
    text-decoration: none;
    color: white;
}

.social {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

.social a {
    /* padding: 10px; */
    margin: 5px;
    color: white;
}

.social a:hover{
    /* padding: 10px; */
    color: blue;
}

.footer-details .contact-container {
    display: flex;
    flex-direction: column;
}

.footer-details .contact-container h3{
    font-size: 30px;
    font-weight: bold;
}
.menu1 {
    display: flex;
    flex-direction: column;
    align-items: space-between;
}

.menu1 > p {
    font-size: 16px;
    margin-top: 100px; 
}

}